---
import Breadcrumbs from '@/components/Breadcrumbs.astro'
import PageHead from '@/components/PageHead.astro'
import ProjectCard from '@/components/ProjectCard.astro'
import Layout from '@/layouts/Layout.astro'
import { getAllProjects } from '@/lib/data-utils'

const projects = await getAllProjects()
---

<Layout>
  <PageHead slot="head" title="About" />
  <Breadcrumbs items={[{ label: 'About', icon: 'lucide:info' }]} />

  <section>
    <div class="min-w-full">
      <div class="prose mb-8">
        <p class="text-muted-foreground mb-2 text-sm">
          the backstage diary of a digital rockstar in the making. It’s where
          raw ideas meet bold execution, where every line of code is a step
          toward the spotlight.
        </p>
        <p class="text-muted-foreground text-sm">
          No suits, no scripts — just rhythm, vision, and the quiet confidence
          that something extraordinary is being built.
        </p>
      </div>

      <!-- <h2 class="mb-4 text-2xl font-medium">Example Projects Listing</h2>
      <div class="flex flex-col gap-4">
        {projects.map((project) => <ProjectCard project={project} />)}
      </div> -->
    </div>
  </section>
</Layout>
